<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>资质证管理系统</title>

</head>
<body>
	<h1 class="title">EJS Server page</h1>
	<h3>About</h3>
	<div id="tree">{{{html}}}</div>
	<h5>{{version}}</h5>

	
</body>
</html>